body {
    background: url("/images/bg6.jpg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: rgb(0, 0, 0);
    font-weight: 800;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.btn:active, .btn:focus, .btn:active:focus, .btn.active:focus {
    outline: none;
}


#bodyContainer {
  margin-top: 10%;
  width: 50%;
}

.fullwBg {
  background-color: rgb(218, 231, 210);
  top: 15%;

}

.wBg {
  background-color: rgba(255, 255, 255, 0.51)
}

.btnEdit {
  background: rgb(160, 208, 140);
  color: rgb(255, 255, 255);
  box-shadow: 2px 3px 0px rgba(4, 4, 4, 0.3);
  border-radius: 80px;
  border-bottom: 3px solid #669169;
}

.btnCancel {
  background: rgb(136, 196, 111);
  color: rgb(255, 255, 255);
  box-shadow: 2px 3px 0px rgba(4, 4, 4, 0.3);
  border-radius: 80px;
  border-bottom: 3px solid #669169;
}

/*----------------------------------navbar--------------*/
.navigation {
  margin-bottom: 5%;
}

.navbar-brand>a:hover, a:hover {
    color: rgb(0, 0, 0);
}

.navbar-nav>.open>a, .navbar-nav>.open>a:focus, .navbar-nav>.open>a:hover, .nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent;
}

.dropdown-menu {
    background: none;
}

.dropdown-menu>li>a:hover {
    background-color: rgba(219, 216, 197, 0.26);
}


.navbar-nav>li>a, .navbar-text, .navbar-brand, .dropdown-menu>li>a {
    color: rgb(0, 0, 0);
    font-weight: 800;
}


/*------------------------------Calculator------------*/
#calcBtn {
    padding: 5px;
    border-bottom: 3px solid #669169;
    text-shadow: 1px 1px 10px #000000;
    border: medium none;
    border-radius: 80px;
    outline:none;
    box-shadow: 2px 3px 10px rgba(4, 4, 4, 0.3);
}

#calcBtn::-moz-focus-inner {
   border: 0;
}

.frms input[type="text"], [type="password"], [type="file"], [type="number"], textarea, select {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ddd;
    border-radius: 0.35em;
    height: 35px;
    margin-bottom: 15px;
    margin-top: 5px;
    padding: 0 0.5%;
    width: 99%;
}

form input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
}


.skctext {
    color: rgb(0, 0, 0);
    font-weight: 600;
    text-shadow: 0px 0px 30px rgba(255, 255, 255, 1);
}
.skctext li a {
    color: rgb(0, 0, 0);
    font-weight: 600;
    text-shadow: 0px 0px 30px rgba(255, 255, 255, 1);
}

#callCalc {
  -moz-box-shadow: 0px 0px 10px Green;
  -webkit-box-shadow: 0px 0px 10px Green;
  box-shadow: 0px 0px 10px Green;
}


/*------------------------------login--------------------*/

.btn-link {
    color: rgb(0, 0, 0);
}


.panel, .panel-default>.panel-heading {
    background: none;
}

.panel-default {
    border: none;
}

/*--------------------------home page-----------------*/

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    text-shadow: 0px 0px 30px rgba(255, 255, 255, 1);
}

/*-------------------------Modal---------------------*/

.modal {
    display: none;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}


.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* button style*/
.clickable{
  border: 1px solid rgba(98, 119, 207, 0.56);
  box-shadow: 2px 3px 0px rgba(4, 4, 4, 0.3);
  margin-bottom: 5px;
}

/* ------------------Progress----------------*/
#secondSmallCirlces div.col-md-4{
  padding: 0;
}

#firstcircle {
  margin-left:auto;
  margin-right:auto;
  display:block;
  position: relative;
}

#firstcircle label, #ProteinCircle label, #FatCircle label, #CarbonCircle label, #secondcircle label, #secondProteinCircle label, #secondFatCircle label, #secondCarbonCircle label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#firstcircle div.background, #secondcircle div.background {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.8vw;
  font-weight: 800;
  color: rgba(235, 106, 106, 0.48);
}
#ProteinCircle div.background, #FatCircle div.background, #CarbonCircle div.background {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1vw;
  font-weight: 800;
  color: rgba(235, 106, 106, 0.48);
}
#secondProteinCircle div.background, #secondFatCircle div.background, #secondCarbonCircle div.background {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.8vw;
  font-weight: 800;
  color: rgba(235, 106, 106, 0.48);
}

#secondcircle {
  margin: 20px;
  position: relative;
}

#reset {
  margin-left:auto;
  margin-right:auto;
  display:block;
}


/*-----------------Radio style -----------------*/


.switch {
    position: relative;
    width: 150px;
    height: 50px;
    text-align: center;
    margin-left: 10px;
    background: rgb(136, 196, 111);
    transition: all 0.2s ease;
    border-radius: 80px;
    box-shadow: 2px 3px 0px rgba(4, 4, 4, 0.3);
    border-bottom: 3px solid #669169;
  }
  input[type=radio] {
    display: none;
  }
  .switch label {
    cursor: pointer;
    color: rgba(0,0,0,0.2);
    width: 60px;
    line-height: 50px;
    transition: all 0.2s ease;
  }
  label[for=male] {
    position: absolute;
    left: 0px;
    height: 20px;
  }
  label[for=female] {
    position: absolute;
    right: 0px;
  }
  #female:checked ~ .switch {
    background: rgb(160, 208, 140);
  }
  #female:checked ~ .switch span {
    background: #fff;
    margin-left: -8px;
  }
  #female:checked ~ .switch span:after {
    background: #fff;
    height: 20px;
    margin-top: -8px;
    margin-left: 8px;
  }
  #male:checked ~ .switch label[for=male] {
    color: #fff;
  }
  #female:checked ~ .switch label[for=female] {
    color: #fff;
  }

.row .height60{
  height: 60px;
}

/*=========================== Media 990px ======================*/
@media (max-width: 990px) {
  #firstcircle div.background, #secondcircle div.background {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4vw;
    font-weight: 800;
    color: rgba(235, 106, 106, 0.48);
  }
  #ProteinCircle div.background, #FatCircle div.background, #CarbonCircle div.background {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4vw;
    font-weight: 800;
    color: rgba(235, 106, 106, 0.48);
  }
  #secondProteinCircle div.background, #secondFatCircle div.background, #secondCarbonCircle div.background {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4vw;
    font-weight: 800;
    color: rgba(235, 106, 106, 0.48);
  }
}
